.fade-enter{
    opacity: 0;
}
.fade-enter-active{
    opacity: 1;
    transition: opacity 1000ms ease-out;
    transition-delay: 500ms;
}

.fade-leave {
    opacity: 0;
}

.fade-leave-active {
    opacity: 1;
    transition: opacity 1000ms ease-out;
    transition-delay: 1000ms;
}


.centered {
    position: fixed;
    top: 35%;
    left: 23%;
    width: 50%;
}